@media (prefers-color-scheme: light) {
  :root {
      --accent-color: #e23d28;
      --link-color: #214cce;
      --text-color: #000000;
      --separator-color: #d3d3d3;
      --sidenote-color: #444444;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;
    --accent-color: #e23d28;
    --link-color: #229edc;
    --text-color: #fcfcfc;
    --separator-color: #d3d3d3;
    --sidenote-color: #ccc;
  }
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

body {
    font-size: 1.1rem;
    margin: 20px auto;
    max-width: 700px;
    line-height: 1.5;
    background-color: var(--background-color);
    color: var(--text-color);
}

@media (max-width: 800px) {
    body {
        margin-left: 20px;
    }
}

/* Avoid the scroll bar messing with the layout when switching from a page that doesn't need scrolling to one that does
   https://stackoverflow.com/a/25981719/2221461 */
html {
    width: calc(100vw - 34px);
}

header {
    h1 span#firstname {
        color: var(--link-color);
    }
    h1 span {
        display: block;
    }
}

#post h1,
#post h2,
#post h3,
#post h4,
#post h5,
#post h6 {
    margin-top: 20px;
    margin-bottom: 1px;
}

.post-preview h2 {
    margin-bottom: 1px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: initial;
}

#post h1 + p,
#post h2 + p,
#post h3 + p,
#post h4 + p,
#post h5 + p,
#post h6 + p {
  margin-top: 0.1em;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.publication-container {
    margin-bottom: 3%;
}

.publication-pdf {
    color: var(--accent-color);
}

.publication {
    display: block;
}

.publication-title {
    font-weight: bold;
}

.publication-in {
    font-style: italic;
}

.publication-urls {
    list-style: none;
    padding-left: 0;
}

.publication-aside {
    font-size: 0.85rem;
    margin-top: 2px;
}

header {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

header {
    display: block;
    margin-top: 0;
}

nav {
    width: 100%;
    font-size: 1.2rem;
    text-align: left;
}

nav a {
    padding: 0;
    margin-left: 0;
    margin-right: 5%;
    text-decoration: underline;
    color: var(--text-color);
}

@media(max-width: 520px) {
    nav a {
        display: block;
        width: 100%;
    }
}

a {
    color: var(--link-color);
    text-decoration: none;
}

figure {
    margin: 0;
}

#headshot {
    float: left;
    margin-right: 20px;
}

#headshot img {
    border-radius: 5px;
    max-width: 150px;
    max-height: 255px;
}

#paginator {
    border-top: 1px solid var(--separator-color);
    margin-top: 2%;
    padding-top: 1%;
    margin-bottom: 3%;
}

.post-preview h1 {
    margin-bottom: 0;
}

#post h1 {
    margin-bottom: 0;
}

.post-preview-date {
    color: var(--sidenote-color);
    margin-top: 0.1em;
}

p:has(+ .post-preview-readmore) {
    margin-bottom: 0.3em;
}

blockquote {
    border-left: 3px solid var(--separator-color);
    margin-left: 20px;
    padding-left: 20px;
}

#post {
    margin-bottom: 3%;
}

#post img {
    max-width: 75%;
    margin: auto;
    display: block;
}

/* Image captions */
#post img + em {
    /* Centers horizontally because markdown is rendered as a <em> span... */
    display: table;
    margin: 0 auto;
}

figcaption {
    display: table;
    margin: 0 auto;
}

/* Footnote section */
hr {
    border: 0;
    border-top: 1px solid var(--separator-color);
}

.footnote-definition p {
    display: inline;
}

.center {
    display: table;
    margin: 0 auto;
}

mark {
    background-color: #eeeeee;
    padding: 0.1em 0.2em;
    border-radius: 0.3em;
}

pre {
    font-size: small;
}

@media (min-width: 700px) {
    .publication {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 1em;
    }
}

@media(min-width: 520px) {
    .project-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
        row-gap: 1em;
    }
}

@media(max-width: 520px) {
    .project-grid {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1em;
    }
}

.project-card {
    display: block;
    border: 1px solid var(--separator-color);
    border-radius: 5px;
}

.project-card a {
    color: var(--text-color);
}

.project-card-contents {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
}

.project-card-contents h3 {
    margin-top: 0em;
    color:var(--link-color);
}

.project-card-contents p {
    font-weight: 500;
}